@tailwind base;
@tailwind variants;
@tailwind utilities;
@tailwind components;

input,
textarea {
  outline: none;
}

* {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
